<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/messages_zh.js"></script>
    <SCRIPT type="text/javascript">
        $().ready(function () {
            $("#frm").validate({
                rules:{
                    username:{
                        required:true,
                        minlength:3
                    },
                    password:{
                        required:true,
                        minlength:5
                    }
                },
                message:{
                    username:{
                        required:"用户名不能为空",
                        minlength:"用户名长度不能小于3个字符"
                    },
                    password:{
                        required:"密码不能为空",
                        minlength:"密码长度不能小于5个字符"
                    }
                },
                submitHandler:function (form) {
                    form.submit();
                }
            });
        });
    </SCRIPT>

    <style>
    </style>
</head>
<body>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" action="/api/1.0/login" id="frm">
                    <h4>登录个人书签管理后台</h4>
                    <input type="text" class="form-control" name="username" id="username" placeholder="用户名"/>
                    <input type="password" class="form-control" name="password" id="password" placeholder="密码"/>
                    <a href="" >忘记密码?</a>
                    <button class="btn btn-block">登录</button>
                </form>
            </div>

        </div>
</body>
</html>
